@charset "UTF-8";

.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 1.0);
  }

  .bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(3, 62, 31, 1.0) !important;
  }

  .navbar-toggler {
    border: var(--bs-border-width) solid rgba(255, 255, 255, 0.5);
  }

  .homepage{
    padding: 1.5em;
    /* background-color:salmon; */
  }

  /* body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } */

  h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 3rem 0 1.38rem;
    line-height: 1.3;
  }

  h1{
    font-size: 3.052rem;
  }

  h2{
    font-size: 2.441rem;
  }
  
  h3{
    font-size: 1.953rem;
  }
  
  h4 {
    font-size: 1.563rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }

  p{
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 1rem;
  }

  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: rgb(3, 62, 31);
    padding: 1.5em 0;
  }

  .designPage{
    padding-top: 0.8em;
  }

  .cardContainer{
    max-width: 1000px;
  }
  
.btn{
 background-color: orange;
 color: white;

}

.btn-primary:hover{
  background-color: blueviolet;
}

/* need to fix this */
.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus{
  background-color: orange;
}

.modal-body{
  text-align: center;
}

.accordion-button:not(.collapsed) {
  color: rgba(255, 255, 255, 1.0);
  background-color:  rgba(3, 62, 31, 1.0);
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.accordion-button {
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(3, 62, 31, 0.8);
}

.logoDesigns{
  margin-bottom: 10rem;
}

.card{
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;


}

.favIconPic img{
  max-width: 32px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favIconPic{
  border: solid 5px green;
}
