<!doctype html>
<html lang="en">
  <head>
  	<title>Cards | Ahmed Kabia Design System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

<!-- This is the link to the toggle hamburger -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>

  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="toggle-btn">
	    				<span class="sr-only">Toggle Menu</span>
	          				<div id="nav-icon1" >
							  <span></span>
							  <span></span>
							  <span></span>
							</div>
	       			 </button>
        	</div>
		<div class="p-4 pt-6">
		  <a href="../index.html" class="logo">
        <!-- double check this later -->
        <img class=mb-4 alt = "Ahmed Kabia Portfolio Logo" src="../img/ahmed kabia site logo v2.png" width="80%" alt="Ahmed Kabia's Portfolio Logo">
      </a>
	       <ul class="list-unstyled components">
	     
	          <li>
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="../foundation/type.html">Typography</a>
                </li>
                <li>
                    <a href="../foundation/color.html">Color</a>
                </li>
                <li>
                    <a href="../foundation/logo.html">Logo</a>
                </li>
	            </ul>
	          </li>
	          
	          <li class="active">
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse list-unstyled" id="ComponentsSubmenu">
                <li>
                    <a href="navbar.html">Navbar</a>
                </li>
                <li class="active">
                    <a href="#">Cards</a>
                </li>
                <li>
                    <a href="footer.html">Footer</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                <li>
                  <a href="../patterns/homepage/homepg.html">Home Page</a>
                </li>
                <li>
                    <a href="../patterns/about me/aboutme.html">About Me</a>
                </li>
               
              </ul>
	          </li>   
	        </ul> 
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
        <div class = "row p-5 pt-6">
          <div id="content">
            <h1>Cards</h1>
            <!-- card descriptions  -->
            <div>
              <p>Cards are used as containers for content such as images and links. An example of this can be found on the <a href="../foundation/logo.html">logo page</a>
                They may also serve as links to specific project pages.</p>
            </div>
            <h2>Examples</h2>

            <!-- fix card whitespace later -->
            <div class="row mb-5 cardExamples">
              <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                  <img src="../img/Group 14.png" class="card-img-top" alt="a brown rectangle with white lines and rounded top">
                  <div class="card-body">
                    <h5 class="card-title">An Example Card</h5>
                    <p class="card-text">This is what card text will look like.</p>
                    <a href="#" class="btn btn-primary">Link to somewhere</a>
                  </div>              
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                  <img src="../img/Group 14.png" class="card-img-top" alt="a brown rectangle with white lines and rounded top">
                  <div class="card-body">
                    <h5 class="card-title">An Example Card</h5>
                    <p class="card-text">This is what card text will look like.</p>
                    <a href="#" class="btn btn-primary">Link to somewhere</a>
                  </div>              
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                  <img src="../img/Group 14.png" class="card-img-top" alt="a brown rectangle with white lines and rounded top">
                  <div class="card-body">
                    <h5 class="card-title">An Example Card</h5>
                    <p class="card-text">This is what card text will look like.</p>
                    <a href="#" class="btn btn-primary">Link to somewhere</a>
                  </div>              
                </div>
              </div> 
            </div>
            <!-- Code example -->
            <h3>Code</h3>
            <div>
              <pre class="language-markup">
                <code class="language-markup">
                  &lt;div class=&quot;col-12 col-md-6 col-lg-4 mb-3&quot;&gt;
                    &lt;div class=&quot;card h-100&quot;&gt;
                      &lt;img src=&quot;../img/Group 14.png&quot; class=&quot;card-img-top&quot; alt=&quot;a brown rectangle with white lines and rounded top&quot;&gt;
                      &lt;div class=&quot;card-body&quot;&gt;
                        &lt;h5 class=&quot;card-title&quot;&gt;An Example Card&lt;/h5&gt;
                        &lt;p class=&quot;card-text&quot;&gt;This is what card text will look like.&lt;/p&gt;
                        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Link to somewhere&lt;/a&gt;
                      &lt;/div&gt;              
                    &lt;/div&gt;
                  &lt;/div&gt;
                </code>
              </pre>
            </div>
            <!-- end code example -->

          </div><!-- Content  -->
        </div><!-- Row  -->
      </div><!-- Container -->
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/prism.js"></script>
  </body>
</html>