<!doctype html>
<html lang="en">
  <head>
  	<title>Footer | Ahmed Kabia Design System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- This is the link to the toggle hamburger -->
  <link rel="icon" type="image/x-icon" href="../img/ahmed kabia site favicon 2.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>

  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
            <span class="sr-only">Toggle Menu</span>
                  <div id="nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
           </button>
        </div>
        <div class="p-4 pt-6">
          <a href="../index.html" class="logo">
            <!-- double check this later -->
            <img class=mb-4 alt = "Ahmed Kabia Portfolio Logo" src="../img/ahmed kabia site logo v2.png" width="80%" alt="Ahmed Kabia's Portfolio Logo">
          </a>
          <ul class="list-unstyled components">
        
            <li>
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="../foundation/type.html">Typography</a>
                </li>
                <li>
                    <a href="../foundation/color.html">Color</a>
                </li>
                <li>
                    <a href="../foundation/logo.html">Logo</a>
                </li>
              </ul>
            </li>
              
            <li class="active">
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse list-unstyled" id="ComponentsSubmenu">
                <li>
                    <a href="navbar.html">Navbar</a>
                </li>
                <li>
                    <a href="cards.html">Cards</a>
                </li>
                <li class="active">
                    <a href="#">Footer</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                <li>
                  <a href="../patterns/homepage/homepg.html">Home Page</a>
              </li>
              <li>
                  <a href="../patterns/about me/aboutme.html">About Me</a>
              </li>
              
              </ul>
            </li>
          </ul> 
        </div>
      </nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h1>Footer</h1>
              <p>This footer was designed to adapt to different screen sizes. It has links 
                to specific social media pages, and to contact information. </p>

              <!-- Uncomment position: fixed for .footer in the css code -->
              <footer class="footer">
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-md-6 pt-1">
                      <p>© Ahmed Kabia | Last Updated 2023</p>
                    </div>
                    <div class="col-12 col-md-6 footIcons">
                      <a class="d-inline pr-1" href="" title="twitter">
                        <img src="../img/Twitter.svg" alt="twitter profile link">
                      </a>
                      <a class="d-inline pr-1" href="" title="Linkedin">
                        <img src="../img/Linkedin Icon.svg" alt="Linkedin profile link">
                      </a>
                      <a class="d-inline pr-1" href="" title="email">
                        <img src="../img/mail.svg" alt="email link for my email">
                      </a>
                      <a class="d-inline pr-1" href="" title="github">
                        <img src="../img/Github.svg" alt="Github profile link">
                      </a>
                    </div>
                  </div>
                </div>
              </footer>

              <h2 class="mt-3">Accessibility</h2>
              <p>The colors of the footer were selected to meet contrast ratio requirements. This preserves visibility and usability for the site.</p>

              <h2>Usage</h2>
              <p>The footermust be present on every page on the site.</p>
              
              <!-- Code example - this is what the prism.js and css are for added in this page - replace: all '<' with &lt; and  '>' with &gt; and all quotes with &quot; -->

              <h2>Code Example</h2>
              <pre class="language-markup">
                <code class="language-markup">
                  &lt;!-- Uncomment position: fixed for .footer in the css code --&gt;
                  &lt;footer class=&quot;footer&quot;&gt;
                    &lt;div class=&quot;container&quot;&gt;
                      &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-12 col-md-6 pt-1&quot;&gt;
                          &lt;p&gt;© Ahmed Kabia | Last Updated 2023&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-12 col-md-6 footIcons&quot;&gt;
                          &lt;a class=&quot;d-inline pr-1&quot; href=&quot;&quot; title=&quot;twitter&quot;&gt;
                            &lt;img src=&quot;../img/Twitter.svg&quot; alt=&quot;twitter profile link&quot;&gt;
                          &lt;/a&gt;
                          &lt;a class=&quot;d-inline pr-1&quot; href=&quot;&quot; title=&quot;Linkedin&quot;&gt;
                            &lt;img src=&quot;../img/Linkedin Icon.svg&quot; alt=&quot;Linkedin profile link&quot;&gt;
                          &lt;/a&gt;
                          &lt;a class=&quot;d-inline pr-1&quot; href=&quot;&quot; title=&quot;email&quot;&gt;
                            &lt;img src=&quot;../img/mail.svg&quot; alt=&quot;email link for my email&quot;&gt;
                          &lt;/a&gt;
                          &lt;a class=&quot;d-inline pr-1&quot; href=&quot;&quot; title=&quot;github&quot;&gt;
                            &lt;img src=&quot;../img/Github.svg&quot; alt=&quot;Github profile link&quot;&gt;
                          &lt;/a&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/footer&gt;
                </code>
              </pre>
    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>

    <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>