<!doctype html>
<html lang="en">
  <head>
  	<title>Navbar | Ahmed Kabia Design System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

<!-- This is the link to the toggle hamburger -->
  <link rel="icon" type="image/x-icon" href="../img/ahmed kabia site favicon 2.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>

  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
            <span class="sr-only">Toggle Menu</span>
                  <div id="nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
           </button>
        </div>
        <div class="p-4 pt-6">
          <a href="../index.html" class="logo">
            <!-- double check this later -->
            <img class=mb-4 alt = "Ahmed Kabia Portfolio Logo" src="../img/ahmed kabia site logo v2.png" width="80%" alt="Ahmed Kabia's Portfolio Logo">
          </a>
          <ul class="list-unstyled components">
        
            <li>
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="../foundation/type.html">Typography</a>
                </li>
                <li>
                    <a href="../foundation/color.html">Color</a>
                </li>
                <li>
                    <a href="../foundation/logo.html">Logo</a>
                </li>
              </ul>
            </li>
              
            <li class="active">
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse list-unstyled" id="ComponentsSubmenu">
                <li class="active">
                    <a href="#">Navbar</a>
                </li>
                <li>
                    <a href="cards.html">Cards</a>
                </li>
                <li>
                    <a href="footer.html">Footer</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                <li>
                  <a href="../patterns/homepage/homepg.html">Home Page</a>
                </li>
                <li>
                    <a href="../patterns/about me/aboutme.html">About Me</a>
                </li>
              
              </ul>
            </li>
          </ul> 
        </div>
      </nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h1>Navigation Menu</h1>
              <p>This is the navigation menu that will be used on the site. This menu adapts to different screen sizes.</p>

              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img class="navbar-logo" alt="Ahmed Kabia Portfolio Logo" src="../img/ahmed kabia site logo v2.png" width="80%" alt="Ahmed Kabia's Portfolio Logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarItems">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Projects
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Project 1</a></li>
                          <li><a class="dropdown-item" href="#">Project 2</a></li>
                          <li><a class="dropdown-item" href="#">Project 3</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#">About Me</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>

              <h2 class="mt-3">Accessibility</h2>
              <p>The colors of the menu were selected to meet contrast ratio requirements. This preserves visibility and usability for the site.</p>

              <h2>Usage</h2>
              <p>The navigation menu must be present on every page on the site.</p>
              
              <!-- Code example - this is what the prism.js and css are for added in this page - replace: all '<' with &lt; and  '>' with &gt; and all quotes with &quot; -->

              <h2>Code Example</h2>   
              <pre class="language-markup">
                <code class="language-markup">
                        &lt;nav class=&quot;navbar navbar-expand-lg navbar-dark bg-dark sticky-top&quot;&gt;
                      &lt;div class=&quot;container-fluid&quot;&gt;
                        &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;
                          &lt;img class=&quot;navbar-logo&quot; alt=&quot;Ahmed Kabia Portfolio Logo&quot; src=&quot;../img/ahmed kabia site logo v2.png&quot; width=&quot;80%&quot; alt=&quot;Ahmed Kabia's Portfolio Logo&quot;&gt;
                        &lt;/a&gt;
                        &lt;button class=&quot;navbar-toggler&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#navbarScroll&quot; aria-controls=&quot;navbarScroll&quot; aria-expanded=&quot;false&quot; aria-label=&quot;Toggle navigation&quot;&gt;
                          &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarItems&quot;&gt;
                          &lt;ul class=&quot;navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll&quot; style=&quot;--bs-scroll-height: 100px;&quot;&gt;
                            &lt;li class=&quot;nav-item dropdown&quot;&gt;
                              &lt;a class=&quot;nav-link dropdown-toggle&quot; href=&quot;#&quot; role=&quot;button&quot; data-bs-toggle=&quot;dropdown&quot; aria-expanded=&quot;false&quot;&gt;
                                Projects
                              &lt;/a&gt;
                              &lt;ul class=&quot;dropdown-menu&quot;&gt;
                                &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Project 1&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Project 2&lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a class=&quot;dropdown-item&quot; href=&quot;#&quot;&gt;Project 3&lt;/a&gt;&lt;/li&gt;
                              &lt;/ul&gt;
                            &lt;/li&gt;
                            &lt;li class=&quot;nav-item&quot;&gt;
                              &lt;a class=&quot;nav-link &quot; href=&quot;#&quot;&gt;About Me&lt;/a&gt;
                            &lt;/li&gt;
                          &lt;/ul&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/nav&gt;

                </code>
              </pre><!-- Code example -->
    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>
      <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>